body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 300px;
    padding: 40px;
    position: relative;
    background-color: #ffcc00; /* Yellow */
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); /* Black shadow */
}

.login-box h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.textbox {
    position: relative;
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.btn {
    width: 100%;
    background-color: #000; /* Black */
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #333; /* Darker black on hover */
}

.register-link {
    text-align: center;
}

.register-link a {
    color: #000; /* Black */
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
.register-box {
    width: 300px;
    padding: 40px;
    position: relative;
    background-color: #ffcc00; /* Yellow */
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); /* Black shadow */
}

.register-box h2 {
    margin: 0 0 20px 0;
    text-align: center;
}
.login-link {
    text-align: center;
}

.login-link a {
    color: #000; /* Black */
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}